# dependencies
/node_modules

# production
/build
/view

# lock package manager
yarn.lock
package-lock.json

# misca
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# log
yarn-error.log

# code
.vscode

# test
coverage

# db
mongodb